@model GenratePrimeryKey.Models.User

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
@*header*@
<div class="row MvcView-header">
    <div class="col d-none d-sm-block">
        <h2 class="MvcView-Title px-2">افزودن ... جدید</h2>
    </div>
    <div class="col-auto text-end">
        @Html.ActionLink("بازگشت به لیست", "Index", null, new { @class = "btn-back" })
    </div>
</div>
@*main*@
    <div class="row g-3 MvcView-Form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="col-md-6">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6">
            @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6">
            @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>
            <div class="text-center mt-3">
                <input type="submit" value="ذخیره اطلاعات" class="btn-save" />
        </div>
}


@section Style{
    @*My Css Code*@
}
@section Script{
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        @*for hover Right navbar slider *@
        $(document).ready(function () {
        $('#dashboard').addClass('active');
        });
    </script>
}



